body {
  background-color: rgb(223,223,223);
}

header div.small-8 {
  margin-top: 12px;
}

.canvas-header {
  width: 540px;
}

.canvas-header > * {
  display: inline-block;
  margin-right: 10px;
}

main footer {
  margin-left: 60px;
}

.panel {
  width: 350px;
}

.panel h5 {
  font-weight: bold;
}

.panel a {
  display: block;
  width: 150px;
  margin-left: 40px;
}

.switch-on {
  position: absolute;
  left: -55px;
  top: 10px;
  color: white;
  font-weight: bold;
  font-size: 9px;
}

.switch-off {
  position: absolute;
  left: -25px;
  top: 10px;
  color: white;
  font-weight: bold;
  font-size: 9px;
}


.alert-box {
  width: 500px;
}

hr {
  border: solid #111;
  border-width: 2px 0 0;
}

.time {
  cursor: pointer;
}
